@model List<TableRevenue>
@inject FoodIS _food
@inject UserIS _user
@inject CartIS _cart
@{
    var all = await _cart.AllCart();
    double sum = 0;
    foreach(var cart in all)
    {
        sum += (cart.ExtendCart.Price * cart.ExtendCart.Qut);
    }
}
<h1>ราคารวม : @sum.ToString("#,##0.00") บาท</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">ชื่ออาหาร</th>
            <th scope="col">จำนวนที่ซื้อ</th>
            <th scope="col">ราคาสุทธิ (บาท)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var list in Model)
        {
            Cart cart = await _cart.GetCartByCartId(list.CartId);

            <tr>
                <th scope="row">@await _user.GetUsernameByID(list.UserId)</th>
                <td>@cart.Name</td>
                <td>@cart.ExtendCart.Qut</td>
                <td>@(cart.ExtendCart.Price * cart.ExtendCart.Qut)</td>
            </tr>
        }
    </tbody>
</table>