@model dynamic
@inject UserManager<IdentityUser> userManager
@{
    var roleUser = await userManager.GetRolesAsync(Model);
}
<div>
    <input readonly value="@Model.roleUser.Id"/>
    <h1>@Model.roleUser.Name</h1>
    <select asp-items="@Model.elseRole" class="form-select">
        <option disabled selected>--Select Role--</option>
    </select>
</div>