@model List<IdentityUser>
@inject UserManager<IdentityUser> userManager

<h1>มีผู้ใช้ทั้งหมด <u> @Model.Count.ToString("#,##0")</u> คน</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">UserName</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            var roleUser = await userManager.GetRolesAsync(user);
            <tr>
                <th scope="row">@user.Id</th>
                <td>@user.UserName</td>
                <td>@foreach(var role in roleUser)
                    {
                        @role
                    }
                </td>
            </tr>
        }
    </tbody>
</table>